.hide
{
	display: none;
}

html, body 
{
	margin: 0;
	padding: 0;
	clear: both;

	width: 100%;
}

	input.input-area
	{
		width: 100%;
		height: 48px;
		font-family: Verdana;
		font-size: 20px;
		outline: none;
		border: 1px solid #aaa;
		border-radius: 3px;
		padding: 12px;
		color: #444;
	}

	.block
	{
		margin-top: 32px;
	}

	.greeting-msg
	{
		width: 100%;
		height: 256px;
		line-height: 192px;
		font-size: 48px;
		text-align: left;
		padding: 2%;
	}
	#res-wrap
	{
		height: 52px;

		background: royalblue;
		font-size: 32px;
		padding: 10px;
		letter-spacing: 0.5px;
		font-family: Verdana;
		color: #eee;
		line-height: 32px;
		margin-bottom: 32px;		
	}

footer 
{
	position: fixed;
	bottom: 5px;
	right: 10px;
	color: #666;
}
