.hide
{
	display: none;
}

html, body 
{
	margin: 0;
	padding: 0;
	clear: both;

	width: 100%;
}

	input.input-area
	{
		width: 100%;
		height: 48px;
		font-family: Verdana;
		font-size: 20px;
		outline: none;
		border: 1px solid #aaa;
		border-radius: 3px;
		padding: 12px;
		color: #444;
	}

	.block
	{
		margin-top: 32px;
	}

	.greeting-msg
	{
		width: 100%;
		height: 256px;
		line-height: 192px;
		font-size: 48px;
		text-align: left;
		padding: 2%;
	}
	#res-wrap
	{
		height: 52px;

		background: royalblue;
		font-size: 32px;
		padding: 10px;
		letter-spacing: 0.5px;
		font-family: Verdana;
		color: #eee;
		line-height: 32px;
		margin-bottom: 32px;		
	}

		.tip
		{
			font-size: 16px;
			padding-left: 6px;
		}
		.try-item
		{
			font-family: verdana;
			font-size: 1.1em;
			color: #888;
			background: cornsilk;
			display: inline-block;
			padding: 4px 10px;
			margin-right: 15px;
			margin: 10px 15px 15px 0px;
			border: 1px solid #eee;
			border-radius: 3px;
			cursor: pointer;			
		}

		.try-item:hover
		{
			background: rgb(255, 242, 213);
			border: 1px solid orange;
			/*box-shadow: 0px 0px 5px 2px orange;			*/
		}

footer 
{
	position: fixed;
	bottom: 5px;
	right: 10px;
	color: #666;
}
